# Getting Data

## Getting data from database

In [32]:
import sqlite3 as lite
import sys
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from dateutil.parser import parse
import statsmodels.formula.api as sm
from patsy import dmatrices
from sklearn.linear_model import LogisticRegression # this is the most important
# according to her lecture
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.cross_validation import cross_val_score

In [33]:
#Functions used in the code
def GetAllWeekNos(start, end):
    c.execute("SELECT DISTINCT week_no from timetable where week_no >= '" \
              + start+ "' AND week_no <= '"+ end+ "'")
    data = c.fetchall()
    week_nos = []
    for weeks in data:
        #print(weeks)
        list_item = weeks[0].split("/")
        list_item = [ int(x) for x in list_item ]
        list_item.append(weeks[0])
        week_nos.append(list_item)
        #print(week_nos)
    return week_nos

def WeekNo(date):
    weekno = date.isocalendar()
    return weekno

def FormatWeekNo(week):
    return str(week[1]) + "/" + str(week[0])

def GetWeek(date):
    ''' get the relevant week from the timetable table'''
    
    week = date.isocalendar()
    week_nos = FormatWeekNo(week)
    
    if week[1] >= WeekNo(parse("1 Sept" + str(week[0])))[1]:
        semester_beg = WeekNo(parse("1 Sept" + str(week[0])))
        semester_end = WeekNo(parse("31 Dec" + str(week[0]))) 
    else:
        semester_beg = WeekNo(parse("1 Jan" + str(week[0])))
        semester_end = WeekNo(parse("30 May" + str(week[0])))
    
    semester_beg = FormatWeekNo(semester_beg)
    semester_end = FormatWeekNo(semester_end)
    week_nos = GetAllWeekNos(semester_beg, semester_end)
    
    if week_nos[0][1] % 2:
        even = week_nos[0][2]
        odd = week_nos[1][2]
    else:
        even = week_nos[1][2]
        odd = week_nos[0][2]
    
    if week[1] % 2:
        return even
    else:
        return odd

In [34]:
con = lite.connect('wicount.sqlite3')
c=con.cursor()
with con:    
    c = con.cursor()    
    c.execute("SELECT * FROM survey")

    rows = c.fetchall()

    for row in rows:
        print(row)

(3, '2015-11-02 09:00:00', 'Mon', 0.25)
(1, '2015-11-02 09:00:00', 'Mon', 0.25)
(2, '2015-11-02 09:00:00', 'Mon', 0.25)
(4, '2015-11-02 09:00:00', 'Mon', 1.0)
(5, '2015-11-02 09:00:00', 'Mon', 0.0)
(6, '2015-11-02 09:00:00', 'Mon', 0.0)
(3, '2015-11-02 10:00:00', 'Mon', 0.5)
(1, '2015-11-02 10:00:00', 'Mon', 0.5)
(2, '2015-11-02 10:00:00', 'Mon', 0.5)
(4, '2015-11-02 10:00:00', 'Mon', 1.0)
(5, '2015-11-02 10:00:00', 'Mon', 0.5)
(6, '2015-11-02 10:00:00', 'Mon', 0.5)
(3, '2015-11-02 11:00:00', 'Mon', 0.25)
(1, '2015-11-02 11:00:00', 'Mon', 0.25)
(2, '2015-11-02 11:00:00', 'Mon', 0.5)
(4, '2015-11-02 11:00:00', 'Mon', 0.25)
(5, '2015-11-02 11:00:00', 'Mon', 0.0)
(6, '2015-11-02 11:00:00', 'Mon', 0.5)
(3, '2015-11-02 12:00:00', 'Mon', 0.25)
(1, '2015-11-02 12:00:00', 'Mon', 0.25)
(2, '2015-11-02 12:00:00', 'Mon', 0.5)
(4, '2015-11-02 12:00:00', 'Mon', 0.25)
(5, '2015-11-02 12:00:00', 'Mon', 0.5)
(6, '2015-11-02 12:00:00', 'Mon', 0.5)
(3, '2015-11-02 13:00:00', 'Mon', 0.5)
(1, '2015-11-02 13:00:00', 'Mon', 0.5)
(2, '2015-11-02 13:00:00', 'Mon', 0.25)
(4, '2015-11-02 13:00:00', 'Mon', 1.0)
(5, '2015-11-02 13:00:00', 'Mon', 0.5)
(6, '2015-11-02 13:00:00', 'Mon', 0.75)
(3, '2015-11-02 14:00:00', 'Mon', 0.25)
(1, '2015-11-02 14:00:00', 'Mon', 0.25)
(2, '2015-11-02 14:00:00', 'Mon', 0.5)
(4, '2015-11-02 14:00:00', 'Mon', 1.0)
(5, '2015-11-02 14:00:00', 'Mon', 0.75)
(6, '2015-11-02 14:00:00', 'Mon', 0.75)
(3, '2015-11-02 15:00:00', 'Mon', 0.0)
(1, '2015-11-02 15:00:00', 'Mon', 0.0)
(2, '2015-11-02 15:00:00', 'Mon', 0.25)
(4, '2015-11-02 15:00:00', 'Mon', 1.0)
(5, '2015-11-02 15:00:00', 'Mon', 0.25)
(6, '2015-11-02 15:00:00', 'Mon', 0.0)
(3, '2015-11-02 16:00:00', 'Mon', 0.75)
(1, '2015-11-02 16:00:00', 'Mon', 0.75)
(2, '2015-11-02 16:00:00', 'Mon', 0.25)
(4, '2015-11-02 16:00:00', 'Mon', 0.5)
(5, '2015-11-02 16:00:00', 'Mon', 0.75)
(6, '2015-11-02 16:00:00', 'Mon', 0.25)
(3, '2015-11-03 09:00:00', 'Tue', 0.75)
(1, '2015-11-03 09:00:00', 'Tue', 0.0)
(2, '2015-11-03 09:00:00', 'Tue', 0.0)
(4, '2015-11-03 09:00:00', 'Tue', 0.0)
(5, '2015-11-03 09:00:00', 'Tue', 0.0)
(6, '2015-11-03 09:00:00', 'Tue', 0.0)
(3, '2015-11-03 10:00:00', 'Tue', 0.5)
(1, '2015-11-03 10:00:00', 'Tue', 0.5)
(2, '2015-11-03 10:00:00', 'Tue', 0.75)
(4, '2015-11-03 10:00:00', 'Tue', 0.5)
(5, '2015-11-03 10:00:00', 'Tue', 0.25)
(6, '2015-11-03 10:00:00', 'Tue', 0.25)
(3, '2015-11-03 11:00:00', 'Tue', 0.5)
(1, '2015-11-03 11:00:00', 'Tue', 0.5)
(2, '2015-11-03 11:00:00', 'Tue', 0.75)
(4, '2015-11-03 11:00:00', 'Tue', 0.75)
(5, '2015-11-03 11:00:00', 'Tue', 0.25)
(6, '2015-11-03 11:00:00', 'Tue', 0.25)
(3, '2015-11-03 12:00:00', 'Tue', 0.5)
(1, '2015-11-03 12:00:00', 'Tue', 0.5)
(2, '2015-11-03 12:00:00', 'Tue', 0.25)
(4, '2015-11-03 12:00:00', 'Tue', 0.0)
(5, '2015-11-03 12:00:00', 'Tue', 0.0)
(6, '2015-11-03 12:00:00', 'Tue', 0.5)
(3, '2015-11-03 13:00:00', 'Tue', 0.5)
(1, '2015-11-03 13:00:00', 'Tue', 0.0)
(2, '2015-11-03 13:00:00', 'Tue', 0.0)
(4, '2015-11-03 13:00:00', 'Tue', 0.0)
(5, '2015-11-03 13:00:00', 'Tue', 0.0)
(6, '2015-11-03 13:00:00', 'Tue', 0.25)
(3, '2015-11-03 14:00:00', 'Tue', 0.25)
(1, '2015-11-03 14:00:00', 'Tue', 0.75)
(2, '2015-11-03 14:00:00', 'Tue', 0.5)
(4, '2015-11-03 14:00:00', 'Tue', 0.5)
(5, '2015-11-03 14:00:00', 'Tue', 0.5)
(6, '2015-11-03 14:00:00', 'Tue', 0.25)
(3, '2015-11-03 15:00:00', 'Tue', 0.25)
(1, '2015-11-03 15:00:00', 'Tue', 0.25)
(2, '2015-11-03 15:00:00', 'Tue', 0.25)
(4, '2015-11-03 15:00:00', 'Tue', 0.75)
(5, '2015-11-03 15:00:00', 'Tue', 0.75)
(6, '2015-11-03 15:00:00', 'Tue', 0.0)
(3, '2015-11-03 16:00:00', 'Tue', 0.0)
(1, '2015-11-03 16:00:00', 'Tue', 0.25)
(2, '2015-11-03 16:00:00', 'Tue', 0.0)
(4, '2015-11-03 16:00:00', 'Tue', 0.5)
(5, '2015-11-03 16:00:00', 'Tue', 0.5)
(6, '2015-11-03 16:00:00', 'Tue', 0.0)
(3, '2015-11-04 09:00:00', 'Wed', 0.25)
(1, '2015-11-04 09:00:00', 'Wed', 0.25)
(2, '2015-11-04 09:00:00', 'Wed', 0.0)
(4, '2015-11-04 09:00:00', 'Wed', 0.75)
(5, '2015-11-04 09:00:00', 'Wed', 0.0)
(6, '2015-11-04 09:00:00', 'Wed', 0.0)
(3, '2015-11-04 10:00:00', 'Wed', 0.0)
(1, '2015-11-04 10:00:00', 'Wed', 0.25)
(2, '2015-11-04 10:00:00', 'Wed', 0.25)
(4, '2015-11-04 10:00:00', 'Wed', 0.75)
(5, '2015-11-04 10:00:00', 'Wed', 0.25)
(6, '2015-11-04 10:00:00', 'Wed', 0.0)
(3, '2015-11-04 11:00:00', 'Wed', 0.25)
(1, '2015-11-04 11:00:00', 'Wed', 0.25)
(2, '2015-11-04 11:00:00', 'Wed', 0.0)
(4, '2015-11-04 11:00:00', 'Wed', 0.0)
(5, '2015-11-04 11:00:00', 'Wed', 0.25)
(6, '2015-11-04 11:00:00', 'Wed', 0.25)
(3, '2015-11-04 12:00:00', 'Wed', 0.5)
(1, '2015-11-04 12:00:00', 'Wed', 0.5)
(2, '2015-11-04 12:00:00', 'Wed', 0.75)
(4, '2015-11-04 12:00:00', 'Wed', 0.5)
(5, '2015-11-04 12:00:00', 'Wed', 0.25)
(6, '2015-11-04 12:00:00', 'Wed', 0.0)
(3, '2015-11-04 13:00:00', 'Wed', 0.0)
(1, '2015-11-04 13:00:00', 'Wed', 0.0)
(2, '2015-11-04 13:00:00', 'Wed', 0.75)
(4, '2015-11-04 13:00:00', 'Wed', 0.5)
(5, '2015-11-04 13:00:00', 'Wed', 0.0)
(6, '2015-11-04 13:00:00', 'Wed', 0.25)
(3, '2015-11-04 14:00:00', 'Wed', 0.0)
(1, '2015-11-04 14:00:00', 'Wed', 0.25)
(2, '2015-11-04 14:00:00', 'Wed', 0.0)
(4, '2015-11-04 14:00:00', 'Wed', 0.5)
(5, '2015-11-04 14:00:00', 'Wed', 0.5)
(6, '2015-11-04 14:00:00', 'Wed', 0.75)
(3, '2015-11-04 15:00:00', 'Wed', 0.0)
(1, '2015-11-04 15:00:00', 'Wed', 0.0)
(2, '2015-11-04 15:00:00', 'Wed', 0.0)
(4, '2015-11-04 15:00:00', 'Wed', 0.75)
(5, '2015-11-04 15:00:00', 'Wed', 0.25)
(6, '2015-11-04 15:00:00', 'Wed', 0.0)
(3, '2015-11-04 16:00:00', 'Wed', 0.0)
(1, '2015-11-04 16:00:00', 'Wed', 0.25)
(2, '2015-11-04 16:00:00', 'Wed', 0.0)
(4, '2015-11-04 16:00:00', 'Wed', 0.0)
(5, '2015-11-04 16:00:00', 'Wed', 0.0)
(6, '2015-11-04 16:00:00', 'Wed', 0.0)
(3, '2015-11-05 09:00:00', 'Thu', 1.0)
(1, '2015-11-05 09:00:00', 'Thu', 0.0)
(2, '2015-11-05 09:00:00', 'Thu', 0.0)
(4, '2015-11-05 09:00:00', 'Thu', 0.0)
(5, '2015-11-05 09:00:00', 'Thu', 0.0)
(6, '2015-11-05 09:00:00', 'Thu', 0.0)
(3, '2015-11-05 10:00:00', 'Thu', 0.25)
(1, '2015-11-05 10:00:00', 'Thu', 0.5)
(2, '2015-11-05 10:00:00', 'Thu', 0.25)
(4, '2015-11-05 10:00:00', 'Thu', 0.5)
(5, '2015-11-05 10:00:00', 'Thu', 0.0)
(6, '2015-11-05 10:00:00', 'Thu', 0.0)
(3, '2015-11-05 11:00:00', 'Thu', 0.25)
(1, '2015-11-05 11:00:00', 'Thu', 0.25)
(2, '2015-11-05 11:00:00', 'Thu', 0.25)
(4, '2015-11-05 11:00:00', 'Thu', 0.5)
(5, '2015-11-05 11:00:00', 'Thu', 0.0)
(6, '2015-11-05 11:00:00', 'Thu', 0.0)
(3, '2015-11-05 12:00:00', 'Thu', 0.25)
(1, '2015-11-05 12:00:00', 'Thu', 0.25)
(2, '2015-11-05 12:00:00', 'Thu', 0.5)
(4, '2015-11-05 12:00:00', 'Thu', 0.5)
(5, '2015-11-05 12:00:00', 'Thu', 0.0)
(6, '2015-11-05 12:00:00', 'Thu', 0.25)
(3, '2015-11-05 13:00:00', 'Thu', 0.5)
(1, '2015-11-05 13:00:00', 'Thu', 0.25)
(2, '2015-11-05 13:00:00', 'Thu', 0.25)
(4, '2015-11-05 13:00:00', 'Thu', 0.25)
(5, '2015-11-05 13:00:00', 'Thu', 0.75)
(6, '2015-11-05 13:00:00', 'Thu', 0.25)
(3, '2015-11-05 14:00:00', 'Thu', 0.25)
(1, '2015-11-05 14:00:00', 'Thu', 0.25)
(2, '2015-11-05 14:00:00', 'Thu', 0.25)
(4, '2015-11-05 14:00:00', 'Thu', 0.5)
(5, '2015-11-05 14:00:00', 'Thu', 0.75)
(6, '2015-11-05 14:00:00', 'Thu', 0.25)
(3, '2015-11-05 15:00:00', 'Thu', 0.0)
(1, '2015-11-05 15:00:00', 'Thu', 0.5)
(2, '2015-11-05 15:00:00', 'Thu', 0.0)
(4, '2015-11-05 15:00:00', 'Thu', 0.25)
(5, '2015-11-05 15:00:00', 'Thu', 0.25)
(6, '2015-11-05 15:00:00', 'Thu', 0.0)
(3, '2015-11-05 16:00:00', 'Thu', 0.0)
(1, '2015-11-05 16:00:00', 'Thu', 0.0)
(2, '2015-11-05 16:00:00', 'Thu', 0.0)
(4, '2015-11-05 16:00:00', 'Thu', 0.25)
(5, '2015-11-05 16:00:00', 'Thu', 0.25)
(6, '2015-11-05 16:00:00', 'Thu', 0.0)
(3, '2015-11-06 09:00:00', 'Fri', 0.0)
(1, '2015-11-06 09:00:00', 'Fri', 0.0)
(2, '2015-11-06 09:00:00', 'Fri', 0.25)
(4, '2015-11-06 09:00:00', 'Fri', 0.5)
(5, '2015-11-06 09:00:00', 'Fri', 0.0)
(6, '2015-11-06 09:00:00', 'Fri', 0.0)
(3, '2015-11-06 10:00:00', 'Fri', 0.5)
(1, '2015-11-06 10:00:00', 'Fri', 0.0)
(2, '2015-11-06 10:00:00', 'Fri', 0.75)
(4, '2015-11-06 10:00:00', 'Fri', 0.5)
(5, '2015-11-06 10:00:00', 'Fri', 0.0)
(6, '2015-11-06 10:00:00', 'Fri', 0.0)
(3, '2015-11-06 11:00:00', 'Fri', 0.25)
(1, '2015-11-06 11:00:00', 'Fri', 0.25)
(2, '2015-11-06 11:00:00', 'Fri', 0.25)
(4, '2015-11-06 11:00:00', 'Fri', 1.0)
(5, '2015-11-06 11:00:00', 'Fri', 0.0)
(6, '2015-11-06 11:00:00', 'Fri', 0.0)
(3, '2015-11-06 12:00:00', 'Fri', 0.25)
(1, '2015-11-06 12:00:00', 'Fri', 0.25)
(2, '2015-11-06 12:00:00', 'Fri', 0.25)
(4, '2015-11-06 12:00:00', 'Fri', 0.25)
(5, '2015-11-06 12:00:00', 'Fri', 0.0)
(6, '2015-11-06 12:00:00', 'Fri', 0.0)
(3, '2015-11-06 13:00:00', 'Fri', 0.5)
(1, '2015-11-06 13:00:00', 'Fri', 0.25)
(2, '2015-11-06 13:00:00', 'Fri', 0.0)
(4, '2015-11-06 13:00:00', 'Fri', 0.0)
(5, '2015-11-06 13:00:00', 'Fri', 0.0)
(6, '2015-11-06 13:00:00', 'Fri', 0.0)
(3, '2015-11-06 14:00:00', 'Fri', 0.25)
(1, '2015-11-06 14:00:00', 'Fri', 0.25)
(2, '2015-11-06 14:00:00', 'Fri', 0.75)
(4, '2015-11-06 14:00:00', 'Fri', 0.5)
(5, '2015-11-06 14:00:00', 'Fri', 0.0)
(6, '2015-11-06 14:00:00', 'Fri', 0.0)
(3, '2015-11-06 15:00:00', 'Fri', 0.0)
(1, '2015-11-06 15:00:00', 'Fri', 0.5)
(2, '2015-11-06 15:00:00', 'Fri', 0.75)
(4, '2015-11-06 15:00:00', 'Fri', 1.0)
(5, '2015-11-06 15:00:00', 'Fri', 0.0)
(6, '2015-11-06 15:00:00', 'Fri', 0.0)
(3, '2015-11-06 16:00:00', 'Fri', 0.0)
(1, '2015-11-06 16:00:00', 'Fri', 0.5)
(2, '2015-11-06 16:00:00', 'Fri', 0.5)
(4, '2015-11-06 16:00:00', 'Fri', 0.75)
(5, '2015-11-06 16:00:00', 'Fri', 0.0)
(6, '2015-11-06 16:00:00', 'Fri', 0.0)
(3, '2015-11-09 09:00:00', 'Mon', 0.25)
(1, '2015-11-09 09:00:00', 'Mon', 0.25)
(2, '2015-11-09 09:00:00', 'Mon', 0.5)
(4, '2015-11-09 09:00:00', 'Mon', 1.0)
(5, '2015-11-09 09:00:00', 'Mon', 0.0)
(6, '2015-11-09 09:00:00', 'Mon', 0.0)
(3, '2015-11-09 10:00:00', 'Mon', 0.25)
(1, '2015-11-09 10:00:00', 'Mon', 0.25)
(2, '2015-11-09 10:00:00', 'Mon', 0.25)
(4, '2015-11-09 10:00:00', 'Mon', 0.75)
(5, '2015-11-09 10:00:00', 'Mon', 0.25)
(6, '2015-11-09 10:00:00', 'Mon', 0.0)
(3, '2015-11-09 11:00:00', 'Mon', 0.25)
(1, '2015-11-09 11:00:00', 'Mon', 0.0)
(2, '2015-11-09 11:00:00', 'Mon', 0.5)
(4, '2015-11-09 11:00:00', 'Mon', 0.0)
(5, '2015-11-09 11:00:00', 'Mon', 0.25)
(6, '2015-11-09 11:00:00', 'Mon', 0.25)
(3, '2015-11-09 12:00:00', 'Mon', 0.25)
(1, '2015-11-09 12:00:00', 'Mon', 0.25)
(2, '2015-11-09 12:00:00', 'Mon', 0.5)
(4, '2015-11-09 12:00:00', 'Mon', 0.0)
(5, '2015-11-09 12:00:00', 'Mon', 0.25)
(6, '2015-11-09 12:00:00', 'Mon', 0.25)
(3, '2015-11-09 13:00:00', 'Mon', 0.25)
(1, '2015-11-09 13:00:00', 'Mon', 0.25)
(2, '2015-11-09 13:00:00', 'Mon', 0.25)
(4, '2015-11-09 13:00:00', 'Mon', 0.25)
(5, '2015-11-09 13:00:00', 'Mon', 0.25)
(6, '2015-11-09 13:00:00', 'Mon', 0.25)
(3, '2015-11-09 14:00:00', 'Mon', 0.25)
(1, '2015-11-09 14:00:00', 'Mon', 0.25)
(2, '2015-11-09 14:00:00', 'Mon', 0.25)
(4, '2015-11-09 14:00:00', 'Mon', 0.5)
(5, '2015-11-09 14:00:00', 'Mon', 0.5)
(6, '2015-11-09 14:00:00', 'Mon', 0.0)
(3, '2015-11-09 15:00:00', 'Mon', 0.5)
(1, '2015-11-09 15:00:00', 'Mon', 0.25)
(2, '2015-11-09 15:00:00', 'Mon', 0.25)
(4, '2015-11-09 15:00:00', 'Mon', 1.0)
(5, '2015-11-09 15:00:00', 'Mon', 0.5)
(6, '2015-11-09 15:00:00', 'Mon', 0.25)
(3, '2015-11-09 16:00:00', 'Mon', 0.25)
(1, '2015-11-09 16:00:00', 'Mon', 0.25)
(2, '2015-11-09 16:00:00', 'Mon', 0.25)
(4, '2015-11-09 16:00:00', 'Mon', 0.75)
(5, '2015-11-09 16:00:00', 'Mon', 0.25)
(6, '2015-11-09 16:00:00', 'Mon', 0.25)
(3, '2015-11-10 09:00:00', 'Tue', 0.25)
(1, '2015-11-10 09:00:00', 'Tue', 0.0)
(2, '2015-11-10 09:00:00', 'Tue', 0.0)
(4, '2015-11-10 09:00:00', 'Tue', 0.0)
(5, '2015-11-10 09:00:00', 'Tue', 0.0)
(6, '2015-11-10 09:00:00', 'Tue', 0.0)
(3, '2015-11-10 10:00:00', 'Tue', 0.25)
(1, '2015-11-10 10:00:00', 'Tue', 0.0)
(2, '2015-11-10 10:00:00', 'Tue', 0.0)
(4, '2015-11-10 10:00:00', 'Tue', 0.0)
(5, '2015-11-10 10:00:00', 'Tue', 0.0)
(6, '2015-11-10 10:00:00', 'Tue', 0.0)
(3, '2015-11-10 11:00:00', 'Tue', 0.25)
(1, '2015-11-10 11:00:00', 'Tue', 0.25)
(2, '2015-11-10 11:00:00', 'Tue', 0.5)
(4, '2015-11-10 11:00:00', 'Tue', 0.75)
(5, '2015-11-10 11:00:00', 'Tue', 0.0)
(6, '2015-11-10 11:00:00', 'Tue', 0.0)
(3, '2015-11-10 12:00:00', 'Tue', 0.25)
(1, '2015-11-10 12:00:00', 'Tue', 0.25)
(2, '2015-11-10 12:00:00', 'Tue', 0.5)
(4, '2015-11-10 12:00:00', 'Tue', 0.75)
(5, '2015-11-10 12:00:00', 'Tue', 0.0)
(6, '2015-11-10 12:00:00', 'Tue', 0.0)
(3, '2015-11-10 13:00:00', 'Tue', 0.25)
(1, '2015-11-10 13:00:00', 'Tue', 0.25)
(2, '2015-11-10 13:00:00', 'Tue', 0.25)
(4, '2015-11-10 13:00:00', 'Tue', 0.5)
(5, '2015-11-10 13:00:00', 'Tue', 0.0)
(6, '2015-11-10 13:00:00', 'Tue', 0.0)
(3, '2015-11-10 14:00:00', 'Tue', 0.5)
(1, '2015-11-10 14:00:00', 'Tue', 0.5)
(2, '2015-11-10 14:00:00', 'Tue', 0.25)
(4, '2015-11-10 14:00:00', 'Tue', 0.75)
(5, '2015-11-10 14:00:00', 'Tue', 0.5)
(6, '2015-11-10 14:00:00', 'Tue', 0.25)
(3, '2015-11-10 15:00:00', 'Tue', 0.25)
(1, '2015-11-10 15:00:00', 'Tue', 0.5)
(2, '2015-11-10 15:00:00', 'Tue', 0.25)
(4, '2015-11-10 15:00:00', 'Tue', 0.5)
(5, '2015-11-10 15:00:00', 'Tue', 0.25)
(6, '2015-11-10 15:00:00', 'Tue', 0.0)
(3, '2015-11-10 16:00:00', 'Tue', 0.0)
(1, '2015-11-10 16:00:00', 'Tue', 0.25)
(2, '2015-11-10 16:00:00', 'Tue', 0.0)
(4, '2015-11-10 16:00:00', 'Tue', 0.5)
(5, '2015-11-10 16:00:00', 'Tue', 0.25)
(6, '2015-11-10 16:00:00', 'Tue', 0.0)
(3, '2015-11-11 09:00:00', 'Wed', 0.0)
(1, '2015-11-11 09:00:00', 'Wed', 0.25)
(2, '2015-11-11 09:00:00', 'Wed', 0.0)
(4, '2015-11-11 09:00:00', 'Wed', 0.75)
(5, '2015-11-11 09:00:00', 'Wed', 0.0)
(6, '2015-11-11 09:00:00', 'Wed', 0.0)
(3, '2015-11-11 10:00:00', 'Wed', 0.0)
(1, '2015-11-11 10:00:00', 'Wed', 0.0)
(2, '2015-11-11 10:00:00', 'Wed', 0.0)
(4, '2015-11-11 10:00:00', 'Wed', 0.5)
(5, '2015-11-11 10:00:00', 'Wed', 0.25)
(6, '2015-11-11 10:00:00', 'Wed', 0.0)
(3, '2015-11-11 11:00:00', 'Wed', 0.25)
(1, '2015-11-11 11:00:00', 'Wed', 0.25)
(2, '2015-11-11 11:00:00', 'Wed', 0.75)
(4, '2015-11-11 11:00:00', 'Wed', 0.25)
(5, '2015-11-11 11:00:00', 'Wed', 0.25)
(6, '2015-11-11 11:00:00', 'Wed', 0.0)
(3, '2015-11-11 12:00:00', 'Wed', 0.25)
(1, '2015-11-11 12:00:00', 'Wed', 0.25)
(2, '2015-11-11 12:00:00', 'Wed', 0.75)
(4, '2015-11-11 12:00:00', 'Wed', 0.25)
(5, '2015-11-11 12:00:00', 'Wed', 0.25)
(6, '2015-11-11 12:00:00', 'Wed', 0.0)
(3, '2015-11-11 13:00:00', 'Wed', 0.0)
(1, '2015-11-11 13:00:00', 'Wed', 0.25)
(2, '2015-11-11 13:00:00', 'Wed', 0.75)
(4, '2015-11-11 13:00:00', 'Wed', 0.25)
(5, '2015-11-11 13:00:00', 'Wed', 0.25)
(6, '2015-11-11 13:00:00', 'Wed', 0.25)
(3, '2015-11-11 14:00:00', 'Wed', 0.0)
(1, '2015-11-11 14:00:00', 'Wed', 0.0)
(2, '2015-11-11 14:00:00', 'Wed', 0.5)
(4, '2015-11-11 14:00:00', 'Wed', 0.5)
(5, '2015-11-11 14:00:00', 'Wed', 0.5)
(6, '2015-11-11 14:00:00', 'Wed', 0.25)
(3, '2015-11-11 15:00:00', 'Wed', 0.0)
(1, '2015-11-11 15:00:00', 'Wed', 0.25)
(2, '2015-11-11 15:00:00', 'Wed', 0.25)
(4, '2015-11-11 15:00:00', 'Wed', 0.25)
(5, '2015-11-11 15:00:00', 'Wed', 0.25)
(6, '2015-11-11 15:00:00', 'Wed', 0.0)
(3, '2015-11-11 16:00:00', 'Wed', 0.0)
(1, '2015-11-11 16:00:00', 'Wed', 0.25)
(2, '2015-11-11 16:00:00', 'Wed', 0.5)
(4, '2015-11-11 16:00:00', 'Wed', 0.0)
(5, '2015-11-11 16:00:00', 'Wed', 0.0)
(6, '2015-11-11 16:00:00', 'Wed', 0.0)
(3, '2015-11-12 09:00:00', 'Thu', 0.5)
(1, '2015-11-12 09:00:00', 'Thu', 0.0)
(2, '2015-11-12 09:00:00', 'Thu', 0.0)
(4, '2015-11-12 09:00:00', 'Thu', 0.0)
(5, '2015-11-12 09:00:00', 'Thu', 0.0)
(6, '2015-11-12 09:00:00', 'Thu', 0.0)
(3, '2015-11-12 10:00:00', 'Thu', 0.5)
(1, '2015-11-12 10:00:00', 'Thu', 0.25)
(2, '2015-11-12 10:00:00', 'Thu', 0.0)
(4, '2015-11-12 10:00:00', 'Thu', 0.0)
(5, '2015-11-12 10:00:00', 'Thu', 0.0)
(6, '2015-11-12 10:00:00', 'Thu', 0.0)
(3, '2015-11-12 11:00:00', 'Thu', 0.25)
(1, '2015-11-12 11:00:00', 'Thu', 0.25)
(2, '2015-11-12 11:00:00', 'Thu', 0.25)
(4, '2015-11-12 11:00:00', 'Thu', 0.25)
(5, '2015-11-12 11:00:00', 'Thu', 0.25)
(6, '2015-11-12 11:00:00', 'Thu', 0.0)
(3, '2015-11-12 12:00:00', 'Thu', 0.25)
(1, '2015-11-12 12:00:00', 'Thu', 0.25)
(2, '2015-11-12 12:00:00', 'Thu', 0.25)
(4, '2015-11-12 12:00:00', 'Thu', 0.25)
(5, '2015-11-12 12:00:00', 'Thu', 0.0)
(6, '2015-11-12 12:00:00', 'Thu', 0.0)
(3, '2015-11-12 13:00:00', 'Thu', 0.5)
(1, '2015-11-12 13:00:00', 'Thu', 0.0)
(2, '2015-11-12 13:00:00', 'Thu', 0.0)
(4, '2015-11-12 13:00:00', 'Thu', 0.25)
(5, '2015-11-12 13:00:00', 'Thu', 0.5)
(6, '2015-11-12 13:00:00', 'Thu', 0.25)
(3, '2015-11-12 14:00:00', 'Thu', 0.5)
(1, '2015-11-12 14:00:00', 'Thu', 0.5)
(2, '2015-11-12 14:00:00', 'Thu', 0.25)
(4, '2015-11-12 14:00:00', 'Thu', 0.5)
(5, '2015-11-12 14:00:00', 'Thu', 0.75)
(6, '2015-11-12 14:00:00', 'Thu', 0.25)
(3, '2015-11-12 15:00:00', 'Thu', 0.25)
(1, '2015-11-12 15:00:00', 'Thu', 0.25)
(2, '2015-11-12 15:00:00', 'Thu', 0.25)
(4, '2015-11-12 15:00:00', 'Thu', 0.25)
(5, '2015-11-12 15:00:00', 'Thu', 0.5)
(6, '2015-11-12 15:00:00', 'Thu', 0.0)
(3, '2015-11-12 16:00:00', 'Thu', 0.0)
(1, '2015-11-12 16:00:00', 'Thu', 0.25)
(2, '2015-11-12 16:00:00', 'Thu', 0.0)
(4, '2015-11-12 16:00:00', 'Thu', 0.25)
(5, '2015-11-12 16:00:00', 'Thu', 0.0)
(6, '2015-11-12 16:00:00', 'Thu', 0.0)
(3, '2015-11-13 09:00:00', 'Fri', 0.0)
(1, '2015-11-13 09:00:00', 'Fri', 0.0)
(2, '2015-11-13 09:00:00', 'Fri', 0.5)
(4, '2015-11-13 09:00:00', 'Fri', 0.5)
(5, '2015-11-13 09:00:00', 'Fri', 0.75)
(6, '2015-11-13 09:00:00', 'Fri', 0.0)
(3, '2015-11-13 10:00:00', 'Fri', 0.0)
(1, '2015-11-13 10:00:00', 'Fri', 0.0)
(2, '2015-11-13 10:00:00', 'Fri', 0.5)
(4, '2015-11-13 10:00:00', 'Fri', 0.25)
(5, '2015-11-13 10:00:00', 'Fri', 0.75)
(6, '2015-11-13 10:00:00', 'Fri', 0.0)
(3, '2015-11-13 11:00:00', 'Fri', 0.0)
(1, '2015-11-13 11:00:00', 'Fri', 0.0)
(2, '2015-11-13 11:00:00', 'Fri', 0.25)
(4, '2015-11-13 11:00:00', 'Fri', 0.25)
(5, '2015-11-13 11:00:00', 'Fri', 0.25)
(6, '2015-11-13 11:00:00', 'Fri', 0.0)
(3, '2015-11-13 12:00:00', 'Fri', 0.0)
(1, '2015-11-13 12:00:00', 'Fri', 0.0)
(2, '2015-11-13 12:00:00', 'Fri', 0.25)
(4, '2015-11-13 12:00:00', 'Fri', 0.5)
(5, '2015-11-13 12:00:00', 'Fri', 0.25)
(6, '2015-11-13 12:00:00', 'Fri', 0.0)
(3, '2015-11-13 13:00:00', 'Fri', 0.0)
(1, '2015-11-13 13:00:00', 'Fri', 0.0)
(2, '2015-11-13 13:00:00', 'Fri', 0.0)
(4, '2015-11-13 13:00:00', 'Fri', 0.5)
(5, '2015-11-13 13:00:00', 'Fri', 0.25)
(6, '2015-11-13 13:00:00', 'Fri', 0.0)
(3, '2015-11-13 14:00:00', 'Fri', 0.5)
(1, '2015-11-13 14:00:00', 'Fri', 0.25)
(2, '2015-11-13 14:00:00', 'Fri', 0.5)
(4, '2015-11-13 14:00:00', 'Fri', 0.0)
(5, '2015-11-13 14:00:00', 'Fri', 0.0)
(6, '2015-11-13 14:00:00', 'Fri', 0.0)
(3, '2015-11-13 15:00:00', 'Fri', 0.5)
(1, '2015-11-13 15:00:00', 'Fri', 0.25)
(2, '2015-11-13 15:00:00', 'Fri', 0.25)
(4, '2015-11-13 15:00:00', 'Fri', 0.0)
(5, '2015-11-13 15:00:00', 'Fri', 0.0)
(6, '2015-11-13 15:00:00', 'Fri', 0.0)
(3, '2015-11-13 16:00:00', 'Fri', 0.0)
(1, '2015-11-13 16:00:00', 'Fri', 0.25)
(2, '2015-11-13 16:00:00', 'Fri', 0.25)
(4, '2015-11-13 16:00:00', 'Fri', 0.0)
(5, '2015-11-13 16:00:00', 'Fri', 0.25)
(6, '2015-11-13 16:00:00', 'Fri', 0.25)

In [35]:
full_data = []
data_list = []

for row in rows:
    c.execute("SELECT * FROM room WHERE room_id = '" + str(row[0]) + "'")
    college = c.fetchall()[0]
    
    #get time and date fields.
    fromDate = datetime.strptime(row[1], "%Y-%m-%d %H:%M:%S")
    toDate = fromDate + timedelta(hours=1)
    time = datetime.strptime(row[1], "%Y-%m-%d %H:%M:%S").time()
    week_no = GetWeek(fromDate)
    
    #only continue if we have timetable data.
    c.execute("SELECT * FROM timetable WHERE room_id = '" + str(row[0]) + \
                "' and day = '" + row[2] + "' AND  time = '" + str(time) + "' AND week_no = '" + week_no + "'")
    timetable = c.fetchall()
    if timetable == []:
        continue
    timetable = timetable[0]

    c.execute("SELECT count, date FROM logdata WHERE room_id = '" + str(row[0]) + \
                 "' and date BETWEEN '" + str(fromDate) + "' AND '" + str(toDate) + "'")
    logData = c.fetchall()
    # Only use if we have all the data for all the days
    if logData == []:
        continue
    
    c.execute("SELECT percentage FROM survey WHERE room_id = '" + str(row[0]) + \
                "' and date = '" + str(fromDate) + "'")
    survey = c.fetchall()[0]
    #print("row: ", row)
    #print("college: ", college)
    #print("timetable: ", timetable)
    #print("logData: ", logData)
    #print ("survey: ", survey)
    #print('Campus: ',college[1])
    #print('Building: ',college[2])
    #print('Room: ',college[3])
    #print('Occupancy: ',college[4])
    #print('Date: ',row[1])
    #print('Day: ',row[2], ' SurveyPercentage: ',survey[0],)
    #print('MaxCount: ',logData[0], ' Module: ',timetable[3], ' NoStudents: ',timetable[4])
    
    #Change here for the output
    for i in range(0, len(logData)):
        data_list = [college[1], college[2], college[3], college[4], \
                 row[1], row[2], survey[0], \
                 logData[i][0], logData[i][1], timetable[4], timetable[5], timetable[3]]
        full_data.append(data_list)
    
data = pd.DataFrame(full_data, columns=('Campus', 'Building', 'Room', 'Capacity', \
                          'Date', 'Day', 'SurveyPercentage', \
                            'Count', 'LogDate', 'Module', 'NoStudents', 'WeekNo'))
data.head(2)
print(data)
#output to a file
data.to_csv("full_dataset.csv")

        Campus          Building   Room  Capacity                 Date  Day  \
0     Belfield  Computer Science  B-004       160  2015-11-03 09:00:00  Tue
1     Belfield  Computer Science  B-004       160  2015-11-03 09:00:00  Tue
2     Belfield  Computer Science  B-004       160  2015-11-03 09:00:00  Tue
3     Belfield  Computer Science  B-004       160  2015-11-03 09:00:00  Tue
4     Belfield  Computer Science  B-004       160  2015-11-03 09:00:00  Tue
5     Belfield  Computer Science  B-004       160  2015-11-03 09:00:00  Tue
6     Belfield  Computer Science  B-004       160  2015-11-03 09:00:00  Tue
7     Belfield  Computer Science  B-004       160  2015-11-03 09:00:00  Tue
8     Belfield  Computer Science  B-004       160  2015-11-03 09:00:00  Tue
9     Belfield  Computer Science  B-004       160  2015-11-03 09:00:00  Tue
10    Belfield  Computer Science  B-004       160  2015-11-03 09:00:00  Tue
11    Belfield  Computer Science  B-004       160  2015-11-03 09:00:00  Tue
12    Belfield  Computer Science  B-002        90  2015-11-03 09:00:00  Tue
13    Belfield  Computer Science  B-002        90  2015-11-03 09:00:00  Tue
14    Belfield  Computer Science  B-002        90  2015-11-03 09:00:00  Tue
15    Belfield  Computer Science  B-002        90  2015-11-03 09:00:00  Tue
16    Belfield  Computer Science  B-002        90  2015-11-03 09:00:00  Tue
17    Belfield  Computer Science  B-002        90  2015-11-03 09:00:00  Tue
18    Belfield  Computer Science  B-002        90  2015-11-03 09:00:00  Tue
19    Belfield  Computer Science  B-002        90  2015-11-03 09:00:00  Tue
20    Belfield  Computer Science  B-002        90  2015-11-03 09:00:00  Tue
21    Belfield  Computer Science  B-002        90  2015-11-03 09:00:00  Tue
22    Belfield  Computer Science  B-002        90  2015-11-03 09:00:00  Tue
23    Belfield  Computer Science  B-002        90  2015-11-03 09:00:00  Tue
24    Belfield  Computer Science  B-003        90  2015-11-03 09:00:00  Tue
25    Belfield  Computer Science  B-003        90  2015-11-03 09:00:00  Tue
26    Belfield  Computer Science  B-003        90  2015-11-03 09:00:00  Tue
27    Belfield  Computer Science  B-003        90  2015-11-03 09:00:00  Tue
28    Belfield  Computer Science  B-003        90  2015-11-03 09:00:00  Tue
29    Belfield  Computer Science  B-003        90  2015-11-03 09:00:00  Tue
...        ...               ...    ...       ...                  ...  ...
2472  Belfield  Computer Science  B-004       160  2015-11-13 16:00:00  Fri
2473  Belfield  Computer Science  B-004       160  2015-11-13 16:00:00  Fri
2474  Belfield  Computer Science  B-004       160  2015-11-13 16:00:00  Fri
2475  Belfield  Computer Science  B-004       160  2015-11-13 16:00:00  Fri
2476  Belfield  Computer Science  B-004       160  2015-11-13 16:00:00  Fri
2477  Belfield  Computer Science  B-004       160  2015-11-13 16:00:00  Fri
2478  Belfield  Computer Science  B-002        90  2015-11-13 16:00:00  Fri
2479  Belfield  Computer Science  B-002        90  2015-11-13 16:00:00  Fri
2480  Belfield  Computer Science  B-002        90  2015-11-13 16:00:00  Fri
2481  Belfield  Computer Science  B-002        90  2015-11-13 16:00:00  Fri
2482  Belfield  Computer Science  B-002        90  2015-11-13 16:00:00  Fri
2483  Belfield  Computer Science  B-002        90  2015-11-13 16:00:00  Fri
2484  Belfield  Computer Science  B-002        90  2015-11-13 16:00:00  Fri
2485  Belfield  Computer Science  B-002        90  2015-11-13 16:00:00  Fri
2486  Belfield  Computer Science  B-002        90  2015-11-13 16:00:00  Fri
2487  Belfield  Computer Science  B-002        90  2015-11-13 16:00:00  Fri
2488  Belfield  Computer Science  B-002        90  2015-11-13 16:00:00  Fri
2489  Belfield  Computer Science  B-002        90  2015-11-13 16:00:00  Fri
2490  Belfield  Computer Science  B-003        90  2015-11-13 16:00:00  Fri
2491  Belfield  Computer Science  B-003        90  2015-11-13 16:00:00  Fri
2492  Belfield  Computer Science  B-003        90  2015-11-13 16:00:00  Fri
2493  Belfield  Computer Science  B-003        90  2015-11-13 16:00:00  Fri
2494  Belfield  Computer Science  B-003        90  2015-11-13 16:00:00  Fri
2495  Belfield  Computer Science  B-003        90  2015-11-13 16:00:00  Fri
2496  Belfield  Computer Science  B-003        90  2015-11-13 16:00:00  Fri
2497  Belfield  Computer Science  B-003        90  2015-11-13 16:00:00  Fri
2498  Belfield  Computer Science  B-003        90  2015-11-13 16:00:00  Fri
2499  Belfield  Computer Science  B-003        90  2015-11-13 16:00:00  Fri
2500  Belfield  Computer Science  B-003        90  2015-11-13 16:00:00  Fri
2501  Belfield  Computer Science  B-003        90  2015-11-13 16:00:00  Fri

      SurveyPercentage  Count              LogDate                 Module  \
0                 0.75     62  2015-11-03 09:02:20  COMP41450 & COMP30120
1                 0.75     95  2015-11-03 09:07:24  COMP41450 & COMP30120
2                 0.75    113  2015-11-03 09:12:01  COMP41450 & COMP30120
3                 0.75    119  2015-11-03 09:16:53  COMP41450 & COMP30120
4                 0.75    124  2015-11-03 09:21:55  COMP41450 & COMP30120
5                 0.75    122  2015-11-03 09:27:00  COMP41450 & COMP30120
6                 0.75    124  2015-11-03 09:32:07  COMP41450 & COMP30120
7                 0.75    125  2015-11-03 09:37:18  COMP41450 & COMP30120
8                 0.75    125  2015-11-03 09:42:20  COMP41450 & COMP30120
9                 0.75    130  2015-11-03 09:47:30  COMP41450 & COMP30120
10                0.75     68  2015-11-03 09:52:47  COMP41450 & COMP30120
11                0.75     20  2015-11-03 09:58:34  COMP41450 & COMP30120
12                0.00      2  2015-11-03 09:02:20                   None
13                0.00      1  2015-11-03 09:07:24                   None
14                0.00      0  2015-11-03 09:12:01                   None
15                0.00      0  2015-11-03 09:16:53                   None
16                0.00      1  2015-11-03 09:21:55                   None
17                0.00      2  2015-11-03 09:27:00                   None
18                0.00      1  2015-11-03 09:32:07                   None
19                0.00      4  2015-11-03 09:37:18                   None
20                0.00      4  2015-11-03 09:42:20                   None
21                0.00      3  2015-11-03 09:47:30                   None
22                0.00     18  2015-11-03 09:52:47                   None
23                0.00     21  2015-11-03 09:58:34                   None
24                0.00      2  2015-11-03 09:02:20                   None
25                0.00      1  2015-11-03 09:07:24                   None
26                0.00      1  2015-11-03 09:12:01                   None
27                0.00      1  2015-11-03 09:16:53                   None
28                0.00      1  2015-11-03 09:21:55                   None
29                0.00      2  2015-11-03 09:27:00                   None
...                ...    ...                  ...                    ...
2472              0.00      0  2015-11-13 16:32:22                   None
2473              0.00      0  2015-11-13 16:37:24                   None
2474              0.00      0  2015-11-13 16:42:22                   None
2475              0.00      0  2015-11-13 16:47:28                   None
2476              0.00      0  2015-11-13 16:52:29                   None
2477              0.00      0  2015-11-13 16:57:35                   None
2478              0.25     10  2015-11-13 16:02:16                   None
2479              0.25     11  2015-11-13 16:07:19                   None
2480              0.25      9  2015-11-13 16:12:16                   None
2481              0.25     10  2015-11-13 16:17:17                   None
2482              0.25     10  2015-11-13 16:22:15                   None
2483              0.25     10  2015-11-13 16:27:22                   None
2484              0.25      8  2015-11-13 16:32:22                   None
2485              0.25      7  2015-11-13 16:37:24                   None
2486              0.25      7  2015-11-13 16:42:22                   None
2487              0.25      7  2015-11-13 16:47:28                   None
2488              0.25      6  2015-11-13 16:52:29                   None
2489              0.25      4  2015-11-13 16:57:35                   None
2490              0.25     20  2015-11-13 16:02:16                   None
2491              0.25     17  2015-11-13 16:07:19                   None
2492              0.25     17  2015-11-13 16:12:16                   None
2493              0.25     17  2015-11-13 16:17:17                   None
2494              0.25     19  2015-11-13 16:22:15                   None
2495              0.25     17  2015-11-13 16:27:22                   None
2496              0.25     17  2015-11-13 16:32:22                   None
2497              0.25     15  2015-11-13 16:37:24                   None
2498              0.25     15  2015-11-13 16:42:22                   None
2499              0.25     15  2015-11-13 16:47:28                   None
2500              0.25     14  2015-11-13 16:52:29                   None
2501              0.25     12  2015-11-13 16:57:35                   None

     NoStudents   WeekNo
0           143  45/2015
1           143  45/2015
2           143  45/2015
3           143  45/2015
4           143  45/2015
5           143  45/2015
6           143  45/2015
7           143  45/2015
8           143  45/2015
9           143  45/2015
10          143  45/2015
11          143  45/2015
12         None  45/2015
13         None  45/2015
14         None  45/2015
15         None  45/2015
16         None  45/2015
17         None  45/2015
18         None  45/2015
19         None  45/2015
20         None  45/2015
21         None  45/2015
22         None  45/2015
23         None  45/2015
24         None  45/2015
25         None  45/2015
26         None  45/2015
27         None  45/2015
28         None  45/2015
29         None  45/2015
...         ...      ...
2472       None  46/2015
2473       None  46/2015
2474       None  46/2015
2475       None  46/2015
2476       None  46/2015
2477       None  46/2015
2478       None  46/2015
2479       None  46/2015
2480       None  46/2015
2481       None  46/2015
2482       None  46/2015
2483       None  46/2015
2484       None  46/2015
2485       None  46/2015
2486       None  46/2015
2487       None  46/2015
2488       None  46/2015
2489       None  46/2015
2490       None  46/2015
2491       None  46/2015
2492       None  46/2015
2493       None  46/2015
2494       None  46/2015
2495       None  46/2015
2496       None  46/2015
2497       None  46/2015
2498       None  46/2015
2499       None  46/2015
2500       None  46/2015
2501       None  46/2015

[2502 rows x 12 columns]

In [36]:
# Show quick statistic summary of continuous features
print("Continuous Features")
data.describe().T

Continuous Features

                  count        mean        std  min  25%    50%     75%  max
Capacity           2502  113.333333  33.004913   90   90  90.00  160.00  160
SurveyPercentage   2502    0.249101   0.217957    0    0   0.25    0.25    1
Count              2502   30.284972  28.965944    0   10  22.00   42.00  232

In [37]:
print("Feature, UniqueValues") 

#Look at the numerical features only
numeric_columns = data.select_dtypes(['int64', 'float64']).columns

for column in numeric_columns:
    print(column + ", \t" + str(len(data[column].unique())))

Feature, UniqueValues
Capacity, 	2
SurveyPercentage, 	5
Count, 	141

In [38]:
#Select all columns of type 'object'
object_columns = data.select_dtypes(['object']).columns
object_columns

#Convert selected columns to type 'category'
for column in object_columns:
    data[column] = data[column].astype('category')
data.dtypes

Campus              category
Building            category
Room                category
Capacity               int64
Date                category
Day                 category
SurveyPercentage     float64
Count                  int64
LogDate             category
Module              category
NoStudents          category
WeekNo              category
dtype: object

In [39]:
#Look at the categorical features only
category_columns = data.select_dtypes(['category']).columns
data[category_columns]

# Descriptive stats for categorical features
data.select_dtypes(['category']).describe().T

           count unique                  top  freq
Campus      2502      1             Belfield  2502
Building    2502      1     Computer Science  2502
Room        2502      3                B-004   834
Date        2502     72  2015-11-13 16:00:00    36
Day         2502      5                  Fri   564
LogDate     2502    834  2015-11-13 16:57:35     3
Module      1817     38            COMP30080   138
NoStudents  1817     32                    0   279
WeekNo      2502      2              46/2015  1395

In [40]:
#data = data[np.isfinite(data['Count'])]
#data = data[np.isfinite(data['Capacity'])]
#data = data[np.isfinite(data['SurveyPercentage'])]
data.head(10)

,Campus,Building,Room,Capacity,Date,Day,SurveyPercentage,Count,LogDate,Module,NoStudents,WeekNo
0,Belfield,Computer Science,B-004,160,2015-11-03 09:00:00,Tue,0.75,62,2015-11-03 09:02:20,COMP41450 & COMP30120,143,45/2015
1,Belfield,Computer Science,B-004,160,2015-11-03 09:00:00,Tue,0.75,95,2015-11-03 09:07:24,COMP41450 & COMP30120,143,45/2015
2,Belfield,Computer Science,B-004,160,2015-11-03 09:00:00,Tue,0.75,113,2015-11-03 09:12:01,COMP41450 & COMP30120,143,45/2015
3,Belfield,Computer Science,B-004,160,2015-11-03 09:00:00,Tue,0.75,119,2015-11-03 09:16:53,COMP41450 & COMP30120,143,45/2015
4,Belfield,Computer Science,B-004,160,2015-11-03 09:00:00,Tue,0.75,124,2015-11-03 09:21:55,COMP41450 & COMP30120,143,45/2015
5,Belfield,Computer Science,B-004,160,2015-11-03 09:00:00,Tue,0.75,122,2015-11-03 09:27:00,COMP41450 & COMP30120,143,45/2015
6,Belfield,Computer Science,B-004,160,2015-11-03 09:00:00,Tue,0.75,124,2015-11-03 09:32:07,COMP41450 & COMP30120,143,45/2015
7,Belfield,Computer Science,B-004,160,2015-11-03 09:00:00,Tue,0.75,125,2015-11-03 09:37:18,COMP41450 & COMP30120,143,45/2015
8,Belfield,Computer Science,B-004,160,2015-11-03 09:00:00,Tue,0.75,125,2015-11-03 09:42:20,COMP41450 & COMP30120,143,45/2015
9,Belfield,Computer Science,B-004,160,2015-11-03 09:00:00,Tue,0.75,130,2015-11-03 09:47:30,COMP41450 & COMP30120,143,45/2015

In [106]:
percent = data.SurveyPercentage
bottomLow = []
bottomHigh = []
TopLow = []
TopHigh = []
for a in percent:
    #print(a)
    if a <= 0.25:
        #print("bottomLow")
        bottomLow.append(1)
        bottomHigh.append(0)
        TopLow.append(0)
        TopHigh.append(0)
    elif a <= 0.5:
        #print("bottomHigh")
        bottomLow.append(0)
        bottomHigh.append(1)
        TopLow.append(0)
        TopHigh.append(0)
    elif a <= 0.75:
        #print("TopLow")
        bottomLow.append(0)
        bottomHigh.append(0)
        TopLow.append(1)
        TopHigh.append(0)
    else:
        #print("TopHigh")
        bottomLow.append(0)
        bottomHigh.append(0)
        TopLow.append(0)
        TopHigh.append(1)
    
data['bottomLow'] = bottomLow
data['bottomHigh'] = bottomHigh
data['TopLow'] = TopLow
data['TopHigh'] = TopHigh
data.head(10)
data.to_csv("extra_dataset.csv")

In [109]:
logreg = sm.logit(formula="bottomLow ~   Count + Capacity", data=data).fit()
#logregBH = sm.logit(formula="bottomHigh ~   Count + Capacity", data=data).fit()
#logregTL = sm.logit(formula="TopLow ~   Count + Capacity", data=data).fit()
#logregTH = sm.logit(formula="TopHigh ~   Count + Capacity", data=data).fit()

# Print the weights learned for each feature.
print(logreg.params)

Optimization terminated successfully.
         Current function value: 0.455965
         Iterations 6
Intercept    0.956971
Count       -0.044928
Capacity     0.015437
dtype: float64

In [110]:
#From lecture: Scikit expects a X matrix with discriptive features.
# need to explicitly get the intercept
# Prepare an intercept term that adds a 1 to each example.
# Scikit-learn does not use an intercept by default.
intercept = pd.DataFrame({'Intercept': np.ones(data.shape[0])})
intercept

      Intercept
0             1
1             1
2             1
3             1
4             1
5             1
6             1
7             1
8             1
9             1
10            1
11            1
12            1
13            1
14            1
15            1
16            1
17            1
18            1
19            1
20            1
21            1
22            1
23            1
24            1
25            1
26            1
27            1
28            1
29            1
...         ...
2472          1
2473          1
2474          1
2475          1
2476          1
2477          1
2478          1
2479          1
2480          1
2481          1
2482          1
2483          1
2484          1
2485          1
2486          1
2487          1
2488          1
2489          1
2490          1
2491          1
2492          1
2493          1
2494          1
2495          1
2496          1
2497          1
2498          1
2499          1
2500          1
2501          1

[2502 rows x 1 columns]

In [111]:
# Prepare the descriptive features
X = pd.concat([intercept, data[['Count', 'Capacity']]], axis=1)
y = data.bottomLow
print("Descriptive features:\n", X)
print("\nTarget feature:\n", y)

Descriptive features:
       Intercept  Count  Capacity
0             1     62       160
1             1     95       160
2             1    113       160
3             1    119       160
4             1    124       160
5             1    122       160
6             1    124       160
7             1    125       160
8             1    125       160
9             1    130       160
10            1     68       160
11            1     20       160
12            1      2        90
13            1      1        90
14            1      0        90
15            1      0        90
16            1      1        90
17            1      2        90
18            1      1        90
19            1      4        90
20            1      4        90
21            1      3        90
22            1     18        90
23            1     21        90
24            1      2        90
25            1      1        90
26            1      1        90
27            1      1        90
28            1      1        90
29            1      2        90
...         ...    ...       ...
2472          1      0       160
2473          1      0       160
2474          1      0       160
2475          1      0       160
2476          1      0       160
2477          1      0       160
2478          1     10        90
2479          1     11        90
2480          1      9        90
2481          1     10        90
2482          1     10        90
2483          1     10        90
2484          1      8        90
2485          1      7        90
2486          1      7        90
2487          1      7        90
2488          1      6        90
2489          1      4        90
2490          1     20        90
2491          1     17        90
2492          1     17        90
2493          1     17        90
2494          1     19        90
2495          1     17        90
2496          1     17        90
2497          1     15        90
2498          1     15        90
2499          1     15        90
2500          1     14        90
2501          1     12        90

[2502 rows x 3 columns]

Target feature:
 0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      1
13      1
14      1
15      1
16      1
17      1
18      1
19      1
20      1
21      1
22      1
23      1
24      1
25      1
26      1
27      1
28      1
29      1
       ..
2472    1
2473    1
2474    1
2475    1
2476    1
2477    1
2478    1
2479    1
2480    1
2481    1
2482    1
2483    1
2484    1
2485    1
2486    1
2487    1
2488    1
2489    1
2490    1
2491    1
2492    1
2493    1
2494    1
2495    1
2496    1
2497    1
2498    1
2499    1
2500    1
2501    1
Name: bottomLow, dtype: int64

In [112]:
# Train a model using logistic regression from scikit-learn.
# Use only the descriptive feature Size.
logreg = LogisticRegression().fit(X[['Intercept', 'Count']], y)

In [113]:
# Examine the estimated logistic regression coefficients.
print("Coeficients: \n", logreg.coef_)
#pd.DataFrame(zip(X[['Size']], np.transpose(logreg.coef_)))

Coeficients:
 [[ 1.18178116 -0.03605053]]

In [114]:
# Predicted probabilities for each example. 
# The output is a pair for each example, 
# The first component is the probability of the negative class (class 0).
# The second component is the probability of the positive class (class 1).
logreg.predict_proba(X[['Intercept', 'Count']])

array([[ 0.46793666,  0.53206334],
       [ 0.74292702,  0.25707298],
       [ 0.84685539,  0.15314461],
       ...,
       [ 0.13909771,  0.86090229],
       [ 0.13483658,  0.86516342],
       [ 0.12664481,  0.87335519]])

In [115]:
# Predict using the trained model, on in-sample data (same sample used for training and test)
predictions = logreg.predict(X[['Intercept', 'Count']])
print("Predictions: ", predictions)
data['PredictBotLow'] = predictions

Predictions:  [1 0 0 ..., 1 1 1]

In [116]:
# Check the accuracy on the training set. 
# The accuracy is the ratio of correct predictions to total examples
# In our case we have 10 examples and the predictions is correct on 9 of them.
# Total accuracy is then 9/10 = 0.9 or 90% accuracy
logreg.score(X[['Intercept', 'Count']], y)

0.77418065547561954

In [117]:
#logreg = sm.logit(formula="bottomLow ~   Count + Capacity", data=data).fit()
logreg = sm.logit(formula="bottomHigh ~   Count + Capacity", data=data).fit()
#logregTL = sm.logit(formula="TopLow ~   Count + Capacity", data=data).fit()
#logregTH = sm.logit(formula="TopHigh ~   Count + Capacity", data=data).fit()

# Print the weights learned for each feature.
print(logreg.params)
intercept = pd.DataFrame({'Intercept': np.ones(data.shape[0])})
intercept
X = pd.concat([intercept, data[['Count', 'Capacity']]], axis=1)
y = data.bottomHigh
#print("Descriptive features:\n", X)
#print("\nTarget feature:\n", y)
logreg = LogisticRegression().fit(X[['Intercept', 'Count']], y)
#print("Coeficients: \n", logreg.coef_)
logreg.predict_proba(X[['Intercept', 'Count']])
predictions = logreg.predict(X[['Intercept', 'Count']])
data['PredictBotHigh'] = predictions
logreg.score(X[['Intercept', 'Count']], y)

Optimization terminated successfully.
         Current function value: 0.450756
         Iterations 6
Intercept   -1.989599
Count        0.020155
Capacity    -0.001657
dtype: float64

0.80415667466027174

In [118]:
#logreg = sm.logit(formula="bottomLow ~   Count + Capacity", data=data).fit()
#logreg = sm.logit(formula="bottomHigh ~   Count + Capacity", data=data).fit()
logreg = sm.logit(formula="TopLow ~   Count + Capacity", data=data).fit()
#logreg = sm.logit(formula="TopHigh ~   Count + Capacity", data=data).fit()

# Print the weights learned for each feature.
print(logreg.params)
intercept = pd.DataFrame({'Intercept': np.ones(data.shape[0])})
intercept
X = pd.concat([intercept, data[['Count', 'Capacity']]], axis=1)
y = data.TopLow
#print("Descriptive features:\n", X)
#print("\nTarget feature:\n", y)
logreg = LogisticRegression().fit(X[['Intercept', 'Count']], y)
#print("Coeficients: \n", logreg.coef_)
logreg.predict_proba(X[['Intercept', 'Count']])
predictions = logreg.predict(X[['Intercept', 'Count']])
data['PredictTopLow'] = predictions
logreg.score(X[['Intercept', 'Count']], y)

Optimization terminated successfully.
         Current function value: 0.154963
         Iterations 10
Intercept    2.662862
Count        0.050619
Capacity    -0.075644
dtype: float64

0.94084732214228617

In [119]:
#logreg = sm.logit(formula="bottomLow ~   Count + Capacity", data=data).fit()
#logreg = sm.logit(formula="bottomHigh ~   Count + Capacity", data=data).fit()
#logreg = sm.logit(formula="TopLow ~   Count + Capacity", data=data).fit()
logreg = sm.logit(formula="TopHigh ~   Count + Capacity", data=data).fit()

# Print the weights learned for each feature.
print(logreg.params)
intercept = pd.DataFrame({'Intercept': np.ones(data.shape[0])})
intercept
X = pd.concat([intercept, data[['Count', 'Capacity']]], axis=1)
y = data.TopHigh
#print("Descriptive features:\n", X)
#print("\nTarget feature:\n", y)
logreg = LogisticRegression().fit(X[['Intercept', 'Count']], y)
#print("Coeficients: \n", logreg.coef_)
logreg.predict_proba(X[['Intercept', 'Count']])
predictions = logreg.predict(X[['Intercept', 'Count']])
data['PredictTopHigh'] = predictions
logreg.score(X[['Intercept', 'Count']], y)

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.007843
         Iterations: 35
Intercept   -39.922192
Count         0.050897
Capacity      0.190264
dtype: float64

C:\Users\veldi_000\Anaconda3\lib\site-packages\statsmodels\base\model.py:466: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

0.99920063948840931

In [120]:
data.to_csv("Predict_dataset.csv")